<% @tournaments.each do |t| %>
    <h4><%= @all_tournaments[t - 1] %></h4>
    <% @movies.each do |m| %>
        <% if t == m.tournament_id %>
            <div class="py-1">
                <span>【<%= m.round %>】</span>
                <% movie_link = m.movie.slice(17..-1) %>
                <% img_link = "http://img.youtube.com/vi/" + movie_link + "/1.jpg" %>
                <%= link_to m.movie, class: "text-decoration-none", target: :_blank do %>
                    <div class="row justify-content-center text-decoration-none text-center">
                        <div class="col-5">
                            <img src=<%= img_link %> style="width: 120px; height: 68px; object-fit: cover;">
                        </div>
                        <div class="col-6">
                            <div>
                                <span><%= @all_players[m.player_a_id - 1] %></span>
                                <span>/</span>
                                <span><%= @all_players[m.player_b_id - 1] %></span>
                            </div>
                            <div>
                                <span>vs</span>
                            </div>
                            <div>
                                <span><%= @all_players[m.player_c_id - 1] %></span>
                                <span>/</span>
                                <span><%= @all_players[m.player_d_id - 1] %></span>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        <% end %>
    <% end %>
<% end %>